/* App styles - using Tailwind CSS */
#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

#enroll-style {
  background-color: #f0f4f8; /* Light background color */
  padding-top: 10rem; /* Add some padding */
  text-align: center; /* Center the text */
}